.principal{
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
   
    
    .principal_left{
   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-bottom: 10rem;
        
        h2{
            color: var(--white);
            font-size: 2.5rem;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }
        p{  
            color: var(--white);
            font-family: 'Roboto', sans-serif;
            font-size: 1.3rem;
            font-weight: bold;
            text-align: justify;
            margin-bottom: 2rem;
        }
        button{
            color: var(--dark-blue);
            padding: 1rem;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            border: none;
            background: var(--white);

            transition: filter 0.3s;

            &:hover{
                filter: brightness(0.8);
                color: var(--blue);
            }
        }
    }

    .principal_right{
        margin-right: 4rem;
        width: 550px;
        height: 550px;
        margin-bottom: 15rem;
    }

}

@media (max-width: 776px){
    .principal{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .principal_right{
        display:none;
    }
    .principal_left{
        width: 100vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}