.header{
    max-width: 300vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--blue);
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    z-index: 2;
   

    img{
        margin-left: 8rem;
    }

    .bar_list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        margin-right: 2rem;
        list-style: none;

        .bar_list_item{
                font-size: 1.2rem;
                font-weight: 500;
                font-family: 'Inter', sans-serif;
                transition: filter 0.2s;
            &:first-child{
                    font-weight: bold;
                }
            &:hover{
                text-decoration: underline;
                filter: brightness(0.9)
            }
            .bar_list_item_link{
                text-decoration: none;
                color: var(--white);
            }
        }
        .btn_login{
            background-color: var(--gray-100);
            padding: 1.1rem;
            border: none;
            border-radius: 0.5rem;
            color: var(--dark-blue);

            transition: filter 0.3s;

            &:hover{
                filter: brightness(0.9);
                color: var(--blue);
            }
        }
    }
}